<div class="container">
  <h3 class="text-center mt-5 mb-5">
    Recipes
  </h3>
  <div class="input-group">
    <input [(ngModel)]="inputName" type="search" class="form-control rounded" placeholder="Search Recipes by name"
      aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn-outline-primary" (click)="getRecipesbyName()"
      [disabled]="!inputName">search</button>
    <input [(ngModel)]="inputIng" type="search" class="form-control rounded" placeholder="Search Recipes by ingredients"
      aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn-outline-primary" (click)="getRecipesbyIng()"
      [disabled]="!inputIng">search</button>
  </div>
  <div class="d-flex flex-row-reverse bd-highlight mb-2">
    <div class="p-2 bd-highlight">
      <select (change)="handlePageSizeChange($event)" class="custom-select">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes | paginate : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        let i = index">
        <th scope="row">{{recipe.name}}</th>
        <td>{{recipe.description}}</td>
        <td>{{recipe.ingredients}}</td>
        <td><button class="btn btn-danger" (click)="doDelete(recipe)">Delete</button>
          <button class="btn btn-primary" (click)="doUpdate(recipe)">Update</button></td>
      </tr>
    </tbody>
  </table>
  <ng-container *ngIf="recipes">
    <div *ngIf="!recipes.length" class="alert alert-danger" role="alert">
      There is no recipes with that name or ingredient, check all <a href="/" class="alert-link">recipes</a>
    </div>
  </ng-container>
  <div class="d-flex justify-content-center" *ngIf="!search">
    <pagination-controls [responsive]=true previousLabel="Prev" nextLabel="Next"
      (pageChange)="handlePageChange($event)">
    </pagination-controls>
  </div>

</div>